{% extends "src/njc/layout.njc" %}
{% block content %}
  <nav class="breadcrumbs">
    <div class="breadcrumbs__container">
      <div class="breadcrumbs__logo">
        <img src="images/home-icon.png" alt="">
      </div>
      <div class="breadcrumbs__item">
        <p>Главная</p>
      </div>
      <div class="breadcrumbs__crumb">
        <img src="images/crumbs.png" alt="">
      </div>
      <div class="breadcrumbs__item breadcrumbs__item--active">
        <p>Реестр земельных участков</p>
      </div>
    </div>
  </nav>

  <section class="main-container">
    <nav class="menu">
      <div class="menu__select-box">
        <select id="select_profile" class="menu__select select" name="state">
          <option></option>
          <option value="value_1">Профиль 1</option>
          <option value="value_2">Профиль 2</option>
        </select>
      </div>
      
      <div class="menu__item">
        <div class="menu__item-img">
          <img src="images/reestr.svg" alt="">
        </div>
        <div>
          <a href="#">Реестр земельных <br> участков</a>
        </div>
      </div>
      <div class="menu__item">
        <div class="menu__item-img">
          <img src="images/process.svg" alt="">
        </div>
        <div>
          <a href="#">Процесс</a>
        </div>
      </div>
      <div class="menu__item">
        <div class="menu__item-img">
          <img src="images/otchet.svg" alt="">
        </div>
        <div>
          <a href="#">Отчётность</a>
        </div>
      </div>

    </nav>

    <section class="main-block">
      <div class="top-block__container">
        <div class="main-block__top-block">
          <h1 class="main-block__top-title">
            Реестр земельных участков
          </h1>
          <div class="main-block__top-btn">
            <button class="btn btn--load">Загрузить файл</button>
            <button class="btn">Добавить</button>
          </div>
        </div>
      </div>

      <div class="form-block">

        <form class="form-block__container">
          <div class="form__item item1">
            <div id="form1" class="item__container">
              <label class="label-select">
                <span class="label-select__hint">Статус</span>
                <select id="select_status" class="menu__select select" name="status">
                  <option></option>
                  <option value="status_1">Статус 1</option>
                  <option value="status_2">Статус 2</option>
                </select>
              </label>
            </div>
          </div>
          <div class="form__item item2">
            <div id="form2" class="item__container">
              <label class="label" for="">Адрес</label>
              <input class="input" type="text" placeholder="Район">
              <input class="input" type="text" placeholder="Населённый пункт">
              <input class="input" type="text" placeholder="Улица">
              <input class="input" type="text" placeholder="Дом">
            </div>
          </div>
          <div class="form__item item3">
            <div id="form3" class="item__container">
              <label class="toggle toggle--checkbox">
							  <input class="toggle__input" name="in-work" type="checkbox" checked="">
							  <span class="toggle__label">В работе</span>
						  </label>
            </div>
          </div>
          <div class="form__item item4">
            <div id="form4" class="item__container">
              <label class="label" for="">Кадастровый номер</label>
              <input class="input" type="text">
            </div>
          </div>
          <div class="form__item item5">
            <div id="form5" class="item__container">
              <label class="label" for="">Кадастровая стоимость</label>
              <input class="input" type="text" placeholder="От">
              <input class="input" type="text" placeholder="До">
            </div>
          </div>
          <div class="form__item item6">
            <div id="form5" class="item__container">
              <label class="label" for="">Площадь</label>
              <input class="input" type="text" placeholder="От">
              <input class="input" type="text" placeholder="До">
            </div>
          </div>
          <div class="form__item item1">
            <div id="form1" class="item__container">
              <label class="label-select">
                <span class="label-select__hint">Категория земли</span>
                <select class="menu__select select" name="category">
                  <option></option>
                  <option value="category_1">Категория 1</option>
                  <option value="category_2">Категория 2</option>
                </select>
              </label>
            </div>
          </div>
          <div class="form__item item6">
            <div id="form6" class="item__container">
              <label class="label-select">
                <span class="label-select__hint">Разрешенное использование минэконом</span>
                <select class="menu__select select" name="category">
                  <option></option>
                  <option value="mineconom_1">Разрешение 1</option>
                  <option value="mineconom_2">Разрешение 2</option>
                </select>
              </label>
            </div>
          </div>
          <div class="form__item item6">
            <div id="form6" class="item__container">
              <label class="label-select">
                <span class="label-select__hint">Разрешенное использование Росреестр</span>
                <select class="menu__select select" name="category">
                  <option></option>
                  <option value="rosereester_1">Разрешение 1</option>
                  <option value="rosereester_2">Разрешение 2</option>
                </select>
              </label>
            </div>
          </div>
        </form>

        <div class="bot-button">
          <button class="btn--accept btn">Принять</button>
          <button class="skip-btn btn">Сбросить</button>

          <div class="paginator">
            <div class="paginator__item paginator__item--active">
              <p>1</p>
            </div>
            <div class="paginator__item">
              <p>2</p>
            </div>
            <div class="paginator__item">
              <p>3</p>
            </div>
            <div class="paginator__item">
              <p>4</p>
            </div>
            <div class="paginator__item paginator__item--hidden">
              <p>...</p>
            </div>
            <div class="paginator__item">
              <p>10</p>
            </div>
            <div class="paginator__item">
              <p>11</p>
            </div>
            <div class="paginator__item">
              <p>12</p>
            </div>
          </div>
        </div>
        </div>
      
      <div class="table">
          <table>
            <tr>
              <th>№</th>
              <th>Статус</th>
              <th>Адрес</th>
              <th>Кадастровый номер</th>
              <th>Кадастровая стоимость</th>
              <th>Площадь</th>
              <th>Категория земли</th>
              <th></th>
            </tr>
            <tr>
              <td>1</td>
              <td>
                Свободный
              </td>
              <td>Пензенская обл, Пензинский р-н,<br> с.Засечное, ул. Олимпийская, д. 50</td>
              <td>40:40:003601:1258</td>
              <td>100 000</td>
              <td>1021</td>
              <td>Земли населённых пунктов</td>
              <td>
                <img class="table__btn" src="images/reestr-activate.svg" alt="">
                <img class="table__btn" src="images/reestr-prosmotr.png" alt="">
                <img class="table__btn" src="images/reestr-delete.svg" alt="">
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                Свободный
              </td>
              <td>Пензенская обл, Пензинский р-н,<br> с.Засечное, ул. Олимпийская, д. 50</td>
              <td>40:40:003601:1258</td>
              <td>100 000</td>
              <td>1021</td>
              <td>Земли населённых пунктов</td>
              <td>
                <img class="table__btn" src="images/reestr-activate.svg" alt="">
                <img class="table__btn" src="images/reestr-prosmotr.png" alt="">
                <img class="table__btn" src="images/reestr-delete.svg" alt="">
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                Свободный
              </td>
              <td>Пензенская обл, Пензинский р-н,<br> с.Засечное, ул. Олимпийская, д. 50</td>
              <td>40:40:003601:1258</td>
              <td>100 000</td>
              <td>1021</td>
              <td>Земли населённых пунктов</td>
              <td>
                <img class="table__btn" src="images/reestr-activate.svg" alt="">
                <img class="table__btn" src="images/reestr-prosmotr.png" alt="">
                <img class="table__btn" src="images/reestr-delete.svg" alt="">
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                Свободный
              </td>
              <td>Пензенская обл, Пензинский р-н,<br> с.Засечное, ул. Олимпийская, д. 50</td>
              <td>40:40:003601:1258</td>
              <td>100 000</td>
              <td>1021</td>
              <td>Земли населённых пунктов</td>
              <td>
                <img class="table__btn" src="images/reestr-activate.svg" alt="">
                <img class="table__btn" src="images/reestr-prosmotr.png" alt="">
                <img class="table__btn" src="images/reestr-delete.svg" alt="">
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                Свободный
              </td>
              <td>Пензенская обл, Пензинский р-н,<br> с.Засечное, ул. Олимпийская, д. 50</td>
              <td>40:40:003601:1258</td>
              <td>100 000</td>
              <td>1021</td>
              <td>Земли населённых пунктов</td>
              <td>
                <img class="table__btn" src="images/reestr-activate.svg" alt="">
                <img class="table__btn" src="images/reestr-prosmotr.png" alt="">
                <img class="table__btn" src="images/reestr-delete.svg" alt="">
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                Свободный
              </td>
              <td>Пензенская обл, Пензинский р-н,<br> с.Засечное, ул. Олимпийская, д. 50</td>
              <td>40:40:003601:1258</td>
              <td>100 000</td>
              <td>1021</td>
              <td>Земли населённых пунктов</td>
              <td>
                <img class="table__btn" src="images/reestr-activate.svg" alt="">
                <img class="table__btn" src="images/reestr-prosmotr.png" alt="">
                <img class="table__btn" src="images/reestr-delete.svg" alt="">
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>
                Свободный
              </td>
              <td>Пензенская обл, Пензинский р-н,<br> с.Засечное, ул. Олимпийская, д. 50</td>
              <td>40:40:003601:1258</td>
              <td>100 000</td>
              <td>1021</td>
              <td>Земли населённых пунктов</td>
              <td>
                <img class="table__btn" src="images/reestr-activate.svg" alt="">
                <img class="table__btn" src="images/reestr-prosmotr.png" alt="">
                <img class="table__btn" src="images/reestr-delete.svg" alt="">
              </td>
            </tr>
          </table>
        </div>

    </section>
  </section>
{% endblock %}