{# Переменные #}
{% set title = "Госуслуги" %}

{# Наследование шаблона #}
{% extends "src/njc/layout.njc" %}

{# Вставляем контент шаблонов #}
{% block content %}
<nav class="sg-menu js-menu js-menu--activated">
  <div class="menu__container">
    <div class="menu__select-box">
      <select id="select_profile" class="sg-menu__select select" name="state">
        <option></option>
        <option value="value_1">Профиль 1</option>
        <option value="value_2">Профиль 2</option>
      </select>
    </div>
    <button class="button hamburger" type="button">
      <span class="hamburger__label">Открыть меню</span>
    </button>
  </div>
  <div class="sg-menu__item">
    <div class="sg-menu__item-img">
      <img src="images/reestr.svg" alt="">
    </div>
    <div>
      <a class="sg-menu__link" href="#">Реестр земельных <br> участков</a>
    </div>
  </div>
  <div class="sg-menu__item">
    <div class="sg-menu__item-img">
      <img src="images/process.svg" alt="">
    </div>
    <div>
      <a class="sg-menu__link" href="#">Процесс</a>
    </div>
  </div>
  <div class="sg-menu__item">
    <div class="sg-menu__item-img">
      <img src="images/otchet.svg" alt="">
    </div>
    <div>
      <a class="sg-menu__link" href="#">Отчётность</a>
    </div>
  </div>
</nav>
  
{% endblock %}