{# Переменные #}
{% set title = "Госуслуги" %}
{% set navItems = [
  {
    "title"  : "Реестр услуг",
    "url" : "services-1.html",
    "active": true
  }
]
%}

{% extends "src/njc/layout.njc" %}
{% block content %}

<nav class="sg-menu js-menu js-menu--activated">
  <div class="menu__container">
    <div class="menu__select-box">
      <select id="select_profile" class="sg-menu__select sg-select" name="state">
        <option></option>
        <option value="value_1">Профиль 1</option>
        <option value="value_2">Профиль 2</option>
      </select>
    </div>
    <button class="button hamburger" type="button">
        <span class="hamburger__label">Открыть меню</span>
    </button>
  </div>
  <a href="#" class="sg-menu__item">
    <div class="sg-menu__item-img">
      <img src="images/main-info-icon.svg" alt="">
    </div>
    <div>
      <p class="sg-menu__link" href="#">Основная информация</p>
    </div>
  </a>
  <a href="#" class="sg-menu__item">
    <div class="sg-menu__item-img">
      <img src="images/servises-reestr-icon.svg" alt="">
    </div>
    <div>
      <p class="sg-menu__link" href="#">Реестр услуг</p>
    </div>
  </a>
</nav>

<section class="sg-main-container">
  <div class="main-block sg-services-2">
    <div class="sg-page-title sg-page-title--btn">
      <h1 class="sg-title-text">
        Реестр услуг
      </h1>
      <div class="sg-title-btn">
        <button class="sg-btn">Добавить</button>
      </div>
    </div>

    <div class="sg-sg-form">
      <div class="sg-form__item sg-form__item--status">
        <label class="sg-label-select">
          <span class="sg-label-select__hint">Статус</span>
          <select class="sg-menu__select sg-select" name="places">
            <option></option>
            <option value="place_1">Значение 1</option>
            <option value="place_2">Значение 2</option>
          </select>
        </label>
      </div>
      <div class="sg-form__item sg-form__item--type">
        <label class="sg-label-select">
          <span class="sg-label-select__hint">Вид услуги</span>
          <select class="sg-menu__select sg-select" name="places">
            <option></option>
            <option value="place_1">Значение 1</option>
            <option value="place_2">Значение 2</option>
          </select>
        </label>
      </div>
      <div class="sg-form__item sg-form__item--price">
        <label class="sg-label">Стоимость</label>
        <input class="sg-input" type="text" placeholder="От">
        <input class="sg-input" type="text" placeholder="До">
      </div>
    </div>

    <div class="sg-btn-block">
      <div class="sg-left-block">
        <button class="sg-btn">Принять</button>
        <button class="sg-btn">Сбросить</button>
      </div>
      <div class="sg-paginator">
        <div class="sg-paginator__item sg-paginator__item--active">
          <p>1</p>
        </div>
        <div class="sg-paginator__item">
          <p>2</p>
        </div>
        <div class="sg-paginator__item">
          <p>3</p>
        </div>
        <div class="sg-paginator__item">
          <p>4</p>
        </div>
        <div class="sg-paginator__item sg-paginator__item--hidden">
          <p>...</p>
        </div>
        <div class="sg-paginator__item">
          <p>10</p>
        </div>
        <div class="sg-paginator__item">
          <p>11</p>
        </div>
        <div class="sg-paginator__item">
          <p>12</p>
        </div>
      </div>
    </div>

    <img class="sg-table-img" src="images/table-img.png" alt="">
    
    
  </div>
</section>
{% endblock %}