{# Переменные #}
{% set title = "Госуслуги" %}
{% set navItems = [
  {
    "title"  : "Реестр услуг",
    "url" : "services-1.html",
    "active": true
  }
]
%}

{% extends "src/njc/layout.njc" %}
{% block content %}

<nav class="menu js-menu js-menu--activated">
  <button class="button hamburger" type="button">
      <span class="hamburger__label">Открыть меню</span>
  </button>
  <div class="menu__select-box">
    <select id="select_profile" class="menu__select select" name="state">
      <option></option>
      <option value="value_1">Профиль 1</option>
      <option value="value_2">Профиль 2</option>
    </select>
  </div>
  <div class="menu__item">
    <div class="menu__item-img">
      <img src="images/in-work.svg" alt="">
    </div>
    <div>
      <a class="menu__link" href="#">В работе</a>
    </div>
  </div>
  <div class="menu__item">
    <div class="menu__item-img">
      <img src="images/zeml.svg" alt="">
    </div>
    <div>
      <a class="menu__link" href="#">Избранные земельные участки</a>
    </div>
  </div>
  <div class="menu__item">
    <div class="menu__item-img">
      <img src="images/history.svg" alt="">
    </div>
    <div>
      <a class="menu__link" href="#">История</a>
    </div>
  </div>
  <div class="menu__item">
    <div class="menu__item-img">
      <img src="images/search.svg" alt="">
    </div>
    <div>
      <a class="menu__link" href="#">Критерии поиска</a>
    </div>
  </div>
  <div class="menu__item">
    <div class="menu__item-img">
      <img src="images/services.svg" alt="">
    </div>
    <div>
      <a class="menu__link" href="#">Избранные сопутствующие услуги</a>
    </div>
  </div>
</nav>

<section class="main-container">
  <div class="main-block services-1">
    <div class="page-title">
      <h1 class="title-text">
        Реестр услуг
      </h1>
    </div>

    <div class="form">
      <div class="form__item">
        <label class="label">Наименование организации</label>
        <input class="input" type="text" placeholder="">
      </div>
      <div class="form__item form__item--checkbox">
        <label class="toggle toggle--checkbox">
          <input class="toggle__input" name="in-work" type="checkbox">
          <span class="toggle__label">Избранные</span>
        </label>
      </div>
      <div class="form__item">
        <label class="label-select">
          <span class="label-select__hint">Вид услуги</span>
          <select class="menu__select select" name="places">
            <option></option>
            <option value="place_1">Услуга 1</option>
            <option value="place_2">Услуга 2</option>
          </select>
        </label>
      </div>
      <div class="form__item form__item--double">
        <label class="label">Стоимость</label>
        <input class="input" type="text" placeholder="От">
        <input class="input" type="text" placeholder="До">
      </div>
    </div>
    <div class="btn-block">
        <div class="left-block">
          <button class="btn">Принять</button>
          <button class="btn">Сбросить</button>
        </div>
        <div class="paginator">
          <div class="paginator__item paginator__item--active">
            <p>1</p>
          </div>
          <div class="paginator__item">
            <p>2</p>
          </div>
          <div class="paginator__item">
            <p>3</p>
          </div>
          <div class="paginator__item">
            <p>4</p>
          </div>
          <div class="paginator__item paginator__item--hidden">
            <p>...</p>
          </div>
          <div class="paginator__item">
            <p>10</p>
          </div>
          <div class="paginator__item">
            <p>11</p>
          </div>
          <div class="paginator__item">
            <p>12</p>
          </div>
        </div>
      </div>
  
      <img class="table-img" src="images/table-img.png" alt="">
  </div>
</section>

{% endblock %}