@import "../variables";

.menu {
  width: 20%;
  font-family: 'Helvetica';
  display: flex;
  flex-direction: column;
}

.menu__select-box {
  border-bottom: 3px solid $lightGray;
  padding-bottom: 20px;
}

.menu__select {
  font-size: 15px;
  font-weight: 500;
  color: $black;
  width: 100%;
}

.menu__item {
  margin: 20px;
  margin-left: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.menu__item-img {
  min-width: 40px;
  margin-right: 20px;
}