@import '../variables';

.sg-breadcrumbs {
  background-color: $navBackground;
  font-weight: 700;
  font-size: 15px;
  color: $navFont;
  font-family: 'Helvetica';
  border-bottom: 1px solid $breadcrumbsGray;
  margin-top: 2px;
}

.sg-breadcrumbs__container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
}

.sg-breadcrumbs__logo {
  display: flex;
  align-items: center;
  padding: 0 px;
  cursor: pointer;
}

.sg-breadcrumbs__crumb img {
  height: 50px;
}

.sg-breadcrumbs__item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.sg-breadcrumbs__link {
  text-decoration: none;
  color: $navFont;

  &--active {
    color: $navFontActive;
  }
}

@media (max-width: 576px) {

  .sg-breadcrumbs {
    display: none;
  }

}