@import "../variables";

.sg-btn {
  background-color: $btn;
  color: $white;
  border: none;
  font-size: 14px;
  height: 42px;
  padding: 0 20px;
  border-radius: 4px;
  font-family: Helvetica;
  outline: none;
  cursor: pointer;

  &:hover {
    background: $btnHover;
  }

  &:active {
    background: $btnActive;
    border: none;
  }
}

.sg-btn--noactive {
  background-color: $gray;
  color: $black;

  &:hover {
    background: $darkGray;
  }
}

@media (max-width: 768px) {

  .sg-btn {
    width: 100%;
    margin-bottom: 15px;
  }

}