.card {

  .header-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .header-form__item {
      position: relative;
      margin-top: 15px;
      width: 23%;
    }

    .header-form__item--long {
      width: 48.5%;
    }

    .header-form__item--adress {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .input {
        width: 25%;
      }
    }
  }

  .map {
    .map__img {
      width: 100%;
    }
  }

  .main-info {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;

    .main-info__check {
      width: 25%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 50px;
      padding: 0 10px;
    }

    .main-info__check:nth-child(3) {
      width: 50%;
    }

    .main-info__item {
      position: relative;
      width: 23%;  
      padding: 0;
      margin-top: 15px;
    }

    .main-info__item--long {
      width: 48.5%;
    }
  }

  .limit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    .limit__item {
      position: relative;
      width: 23%;
      margin-top: 15px;
    }

    .limit__item--long {
      width: 48.5%;
    }

    .btn {
      margin-top: 15px;
    }
  }

  .com {
    .com__row {
      display: flex;
      align-items: center;
      margin-top: 15px;
      
      .com__input {
        width: 50%;
        position: relative;
      }

      .com__textarea {
        position: relative;
        width: 100%;
      }

      .com__check {
        margin-left: 20px;
      }
    }
  }

  .bot-btn {
    .btn {
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 992px) {

  .card {

    .header-form__item {
      min-width: 100%;
    }

    .header-form__item--adress {
      .input {
        min-width: 50%;
      }
    }

    .main-info__check {
      min-width: 50%;
    }

    .main-info__item {
      min-width: 48.5%;
    }
      
    .limit__item {
      min-width: 100%;
    }

    .com__input {
      min-width: 60%;
    }
  }
}


@media (max-width: 768px) {

  .card {
    max-width: 100%;
    .header-form__item {
      min-width: 100%;
    }

    .header-form__item--adress {
      .input {
        min-width: 50%;
      }
    }

    .main-info__check {
      min-width: 50%;
    }

    .main-info__item {
      min-width: 100%;
    }

    .limit__item {
      min-width: 100%;
    }

    .com__input {
      min-width: 60%;
    }
  }

  .bot-btn {
    .btn {
      width: 100%;
    }
  }
}