@import "../variables";

.main-block {
  width: 75%;
  padding-left: 30px;
  box-sizing: border-box;
}

.main-container {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
}

@media (max-width: 1200px) {

  .main-container {
    width: 100%;
  }

}

@media (max-width: 576px) {
  .main-block {
    padding-left: 0;
  }
}