@import "../variables";

.main-block {
  width: 75%;
}

.main-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
}