@import "../variables";

.container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.main-container {
  margin-left: 30px;
  width: 80%;
  flex-grow: 1;
}