@import "../variables";

.sg-header {
  background-color: $white;
  font-family: 'Helvetica';
  width: 100%;
  box-shadow: 0 3px 2px rgba(0,0,0,.1);
}

.sg-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.sg-header__logo {
  display: inline-block;
  vertical-align: middle;
  width: 195px;
  margin-right: 10px;
}

.sg-header__user {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  margin: 0;
}

.sg-header__link {
  color: $navFont;

  &:hover, &:focus {
    color: #3da8ff;
  }
}
