@import "../variables";

.sg-form-block__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.sg-item__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#sg-form1 .sg-select {
  width: 100%;
}

.sg-item1 {
  width: 20%;
}

#sg-form2 .sg-input {
  width: 25%;
}

.sg-item2 {
  width: 77.5%;
}

.sg-item3 {
  align-self: center;
  width: 15%;
  margin-top: 15px;
}

.sg-item4 {
  width: 20%;
}

.sg-item5 {
  width: 37.5%;
}

#sg-form5 .sg-input {
  width: 50%;
}

.sg-item6 {
  width: 37.5%;
}

.sg-btn-block {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sg-table__btn {
  width: 20px;
  
  &:hover {
    cursor: pointer;
  }
}

th:nth-child(5) {
  width: 12%;  
}

th:nth-child(6) {
  width: 8%;  
}

th:nth-child(7) {
  width: 17%;  
}

th:nth-child(8) {
  width: 5%;  
}

@media (max-width: 992px) {

  .sg-paginator {
    width: 100%;
  }

  .sg-table {
    overflow-y: scroll;
    width: 100%;
  }

  .sg-main-block__top-block {
    flex-direction: column;
    width: 100%;
  }

  #sg-form2 .sg-input {
    width:50%;
    margin-bottom: 10px;
  }

  .sg-form__item {
    width: 100%;
  }
}

@media all and (max-width: 768px) {

  #sg-form2 .sg-input {
    width:50%;
    margin-bottom: 10px;
  }

  .sg-form__item {
    width: 100%;
  }

  .sg-left-block {
    width: 100%;
  }
}

@media (max-width: 576px) {

  .sg-form__container {
    flex-wrap: wrap;
  }

  .sg-form__item {
    width: 100%;
  }

  #sg-form2 .sg-input {
    width:100%;
    margin-bottom: 15px;
  }
}