@import "../variables";

.input {
  box-sizing: border-box;
  font-size: 14px;
  padding: 0 13px;
  padding-top: 8px;
  width: 100%;
  height: 50px;
  background-color: white;
  outline:none;

  &::placeholder {
    color: $darkGray;
  }
  
  &:focus {
    border: 2px solid $inputBorderFocus;
    color: $black;
    padding-left: 13px;
  }
}

.input--required {
  &:focus {
    border: 2px solid $inputBorderFocusRequired;
    padding-top: 8px;
    padding-left: 13px;
  }
}