@import "../variables";

.input {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  height: 50px;
  background-color: white;
  outline:none;

  &::placeholder {
    color: $darkGray;
  }
  
  &:focus {
    border: 4px solid $inputBorderFocus;
    color: $black;
  }
}