@import "../variables";

.label {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100%;
  font-size: 10px;
  text-align: left;
  color: $label;
  font-family: Helvetica;
  margin-bottom: 4px;
}

.label--in-work {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  position: static;
  font-size: 15px;
  color: $black;
}

.label-select {
  position: relative;
  display: block;
  width: 100%;
}

.label-select__hint {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
  font-size: 10px;
  color: $label;
}