@import "../variables";

.sg-page-title {
  margin-bottom: 15px;
  .sg-title-text {
    font-family: Ekibastuz;
    font-weight: 100;
    margin: 0;
    padding: 12px 0;
    width: 100%;
    font-size: 36px;
  }
}

.sg-page-title--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sg-title-btn {
    display: flex;
    .sg-btn {
      display: inline-block;
      margin-left: 20px;
    }
  }
}

@media all and (max-width: 768px) {
  .sg-page-title--btn {
    flex-wrap: wrap;
  
    .sg-title-btn {
      margin-top: 15px;
      width: 100%;
      flex-wrap: wrap;
      .sg-btn {
        margin-left: 0;
      }
    }
  }
}