@import "../variables";

.sg-select {
  width: 100%;
  height: 50px;
}

.select2 {
  width: 100%!important;
}

.select2-selection__rendered {
  line-height: 46px !important;
  padding-left: 4px !important;
}

.select2-container .select2-selection--single {
  height: 50px !important;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 0;
}
.select2-selection__arrow {
  height: 49px !important;
}

.select2-container .select2-search__field {
  height: 30px
}

.select2-container .select2-results__option {
  height: 25px;
}

.select2-container .select2-selection--single {
  padding-right: 30px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #6CA9D2 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b  {
  background: none !important;
  border: none !important; 
  position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  display: block;
  position: absolute;
  top: -50%;
  right: 0px;
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  transform: rotate(-135deg);
}

.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
  right: -4px;
  transform: rotate(45deg) translateY(70%);
}