@import "../variables";

.sg-services-card {
  
  .sg-sg-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .sg-form__item {
      margin-bottom: 15px;
      width: 48.5%;
      position: relative;
    }

    .sg-form__item--alone {
      margin-right: 50px;
    }

    .sg-form__item--area {
      width: 100%;
    }

    .sg-form__item--double {
      display: flex;
    }

    .sg-form__item--checkbox {
      padding: 15px 10px;
    }

    .sg-form__item--small {
      width: 30%;
    }
  }

  .sg-btn {
    margin-right: 15px!important;
    margin-bottom: 15px;
  }
}

@media (max-width: 992px) {
  .sg-services-card {
    .sg-form__item {
      min-width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .sg-services-card {
    .sg-form__item--double {
      flex-wrap: wrap;
  
      .sg-input {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}