@import "../variables";

.services-1 {

  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .sg-form__item {
      position: relative;
      margin: auto 0;
      margin-top: 15px;
      width: 48%;
    }

    .form__item--checkbox {
      padding: 15px 0;
    }

    .form__item--double {
      display: flex;
    }
  }

  .sg-btn-block {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .table-img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .services-1 {
  
    .sg-form__item {
      min-width: 100%;
    }

    .sg-left-block {
      width: 100%;
    }

    .sg-paginator {
      width: 100%;
    }
  }
}