@import "../variables";

.services-2 {

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form__item--status {
      width: 20%;
    }

    .form__item--type {
      width: 37%;
    }

    .form__item--price {
      width: 37%;
      display: flex;
      flex-wrap: wrap;
      position: relative;

      .sg-label {
        width: 100%;
      }

      .sg-input {
        width: 50%;
      }
    }
  }

  .sg-btn-block {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }

  .table-img {
    width: 100%;
  }

}

@media (max-width: 992px) {
  .services-2 {
  
    .sg-form__item {
      min-width: 100%;
      margin-top: 15px;
    }

    .sg-left-block {
      width: 100%;
      margin-bottom: 20px;
    }

    .sg-paginator {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  
}