@import "../variables";

.servises {

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form__item {
      
    }

    .form__item--status {
      padding-top: 20px;
      width: 20%;
    }

    .form__item--type {
      padding-top: 20px;
      width: 37%;
    }

    .form__item--price {
      width: 37%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      top: 2px;

      .label {
        width: 100%;
      }

      .input {
        width: 50%;
      }
    }
  }

  .btn-block {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
  }

  .table-img {
    width: 100%;
  }

}

@media (max-width: 992px) {
  .servises {
  
  .form__item {
    min-width: 100%;
  }

  .btn-block {
    flex-wrap: wrap;

    .left-block {
      width: 100%;
      margin-bottom: 20px;
    }

    .paginator {
      width: 100%;
    }
  }

  }
}