@import "../variables";

.tabs {

  margin-top: 50px;
  border-bottom: 1px solid $tabsBorder;
  color: $tabs;

  .tab__item {
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 10px;
    cursor: pointer;
  }

  .tab__item--active {
    border-bottom: 3px solid $tabsBorderActive;
    color: $tabsActive;
  }
}