@import "../variables";

.sg-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 18px 15px;
  resize: none;
  outline: none;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Roboto, sans-serif;

  &:focus {
    border: 2px solid $inputBorderFocus;
    color: $black;
    padding-left: 14px;
    padding-top: 15px;
  }
}

.sg-textarea--required {

  &:focus {
    border: 2px solid $inputBorderFocusRequired;
    padding-left: 14px;
    padding-top: 17px;
  }
}