@import "../variables";

.sg-title-block {

  border-bottom: 1px solid $titleBorder;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 7px;
  cursor: pointer;

  .sg-title-block__text {
    display: inline-block;
    font-size: 22px;
    margin: 0;
  }

  .sg-title-block__btn {
    display: inline-block;
    width: 16px;
    position: relative;
    top: 2px;
    margin-left: 5px;
    transition-duration: 0.5s;

    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  .sg-animated {
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}