@import "../variables";

.services-card {
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form__item {
      margin-bottom: 15px;
      width: 48.5%;
      position: relative;
    }

    .form__item--alone {
      margin-right: 50px;
    }

    .form__item--area {
      width: 100%;
    }

    .form__item--double {
      display: flex;
    }

    .form__item--checkbox {
      padding: 15px 10px;
    }
  }

  .btn {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 992px) {
  .services-card {
    .form__item {
      min-width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .services-card {
    .form__item--double {
      flex-wrap: wrap;
  
      .input {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}