 
// mobile
$screenXs: 480px;

// tablet portrait
$screenSm: 768px;

// tablet landscape
$screenMd: 992px;

// desktop
$screenLg: 1200px;

$gray: #cacaca;
$lightGray: #d3d3d3;
$white: #fff;
$black: #000;
$orange: #ff7f33;;
$mint: #00BD9C;
$green: #27AE60;
$red: #FF0000;
$blue: #0E48DC;
$burgundy: #C60038;