 
// mobile
$screenXs: 480px;

// tablet portrait
$screenSm: 768px;

// tablet landscape
$screenMd: 992px;

// desktop
$screenLg: 1200px;

$gray: #cacaca;
$lightGray: #d3d3d3;
$darkGray: #A9A9A9;
$white: #fff;
$black: #000;
$orange: #ff7f33;;
$mint: #00BD9C;
$green: #27AE60;
$red: #FF0000;
$blue: #0E48DC;
$burgundy: #C60038;

$label: #4c4c4c;
$checked: #6CA9D2;
$btn: #0063b0;
$btnActive: #002957;
$btnHover: #023E83;
$tableBlue: #005FAF;
$tableRed: #FF1818;
$tableGreen: #35CD00;
$selectFocus: #ADDDFF;
$pagBorder: #CDD1D4;
$pagBackgroundActive: #6CA9D2;
$pagBackgroundHover: #F5F5F5;
$pagBackgroundHidden: #F5F5F5;
$pagBorderActive: #CDCFD1;
$pagBorderHidden: #CDCFD1;
$navFont: #0173C1;
$navBackground: #F6F6F6;
$navFontActive: #999;
$inputBorderFocus: #BFE5FF;
$headerBackground: #1e3685;
$headerBackgroundHover: #2344a4;
$titleBorder: #9F9F9F;
$tabs: #0173C1;
$tabsBorder: #9F9F9F;
$tabsActive: #3E3E3E;
$tabsBorderActive: #6CA9D2;